<!DOCTYPE html>
<html>
<head>
  <title>我的第一个 Flask 页面</title>
</head>
<body>
  <h1>Hello Flask from GitHub!</h1>
  <p>我想想改变这个东西哦</p>
  <p>朱正的第一个物联网平台 </p>
  <p>这是一个测试页面</p>
  <h1>欢迎访问我的网站</h1>
  <p>当前时间是：<span id="local-time">加载中...</span></p>
  
  <script>
    function updateTime() {
      const now = new Date();
      const timeStr =
        now.getFullYear() + '-' +
        String(now.getMonth() + 1).padStart(2, '0') + '-' +
        String(now.getDate()).padStart(2, '0') + ' ' +
        String(now.getHours()).padStart(2, '0') + ':' +
        String(now.getMinutes()).padStart(2, '0') + ':' +
        String(now.getSeconds()).padStart(2, '0');
  
      document.getElementById("local-time").textContent = timeStr;
    }
  
    // 初始化时更新一次
    updateTime();
  
    // 每秒更新一次
    setInterval(updateTime, 1000);
  </script>
  


</body>
</html>
